@charset "utf-8";

.menubar-search-widget {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 32px;
}
.menubar-search-btn {
	margin-left: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: rgba(0,0,0,0.00);
	border-style: none;
	margin-right: 32px;
}
.menubar-weather-img {
	margin-top: -16px;
	margin-bottom: -16px;
	background-color: rgba(255,255,255,0.20);
	margin-left: 8px;
}
.menubar-lightbulb-btn {
	margin-left: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: rgba(0,0,0,0.00);
	border-style: none;
}
.menubar-lightbulb-img {
	padding-bottom: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.menubar-date {
	margin-top: 15px;
	color: rgba(119,119,119,1.00);
}
.menubar-temperature {
	margin-top: 15px;
	color: rgba(118,118,118,1.00);
}
.menubar-topic-dropdown {
	margin-top: 7px;
	color: rgba(118,118,118,1.00);
	font-size: large;
}
.menubar-topic-img {
	margin-right: 8px;
	margin-top: -1px;
}
.menubar-topic-btn {
}
.menubar-brand {
	margin-right: 13px;
	font-size: x-large;
}
.topics-title {
	text-align: center;
}
.topics-img {
	margin-top: 10px;



}
.topics-subtitle {
	text-align: center;
	margin-bottom: 0px;
}
.topics-thumbnail {
	margin-top: 14px;
	margin-bottom: 14px;
	height: 300px;
	width: 265px;
	-webkit-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
}
.topic-bar-wrapper {
	display: none;
	top: 200px;
}
.topics-thumbnail:hover {
	background-color: rgba(239,239,239,1);
}
.topics-thumbnail-wrapper {
	display: none;
}
.topics-carousel-control {
	width: 80px;
}
